
.svg-viewer {
  border: 1px solid var(--dwc-color-default);
  border-radius: var(--dwc-border-radius);
  overflow: hidden;
  background: var(--dwc-surface-1);
  user-select: none;
  position: relative;
  display: flex;
  flex-direction: column;
}

.svg-viewer__header {
  background: var(--dwc-surface-3);
  border-bottom: thin solid var(--dwc-color-default);
  padding: var(--dwc-space);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
}

.svg-viewer__content {
  overflow: auto;
  flex: 1;
  position: relative;
}

.svg-viewer__image {
  position: relative;
  display: inline-block;
  min-width: 100%;
  min-height: 100%;
}

.svg-inner {
  display: block;
  transition: transform 0.2s ease;
}

